---
import { Image } from "astro:assets";

/* Importando layoutss */
import Layout from "../layouts/Layout.astro";

import localLogoFotos from "../images/fotosgratis-logo.svg";
import localLogoMinilink from "../images/minilink-logo.svg";
import localLogoNave from "../images/navedepapel-logo.svg";
import localLogoRenova from "../images/renovadesign-logo.svg";

/* Importando componentes */
import ListPosts from "../components/ListPosts.astro";
import IconSocial from "../components/IconSocial.astro";
import InfoContact from "../components/InfoContact.astro";

/* Componente MainTitlesView H2 visible*/
const { visible = true } = Astro.props;
---

<Layout {visible}>
	<main>
		<section>
			<article>
				<header>
					<h2>Proyectos</h2>
				</header>

				<div class="parrafo">
					<p>
						Te recomiendo algunas páginas que te puedan interesar como:
						Agregarte en un directorio de profesionales y empresas, si necesitas
						recursos fotográficos, si te gustan las naves hechas de papel o
						enterarte de noticias de tecnología.
					</p>
				</div>

				<div class="marcas-container">
					<div>
						<a
							href="https://www.fotos.edgarcornejo.com"
							title="Fotos Gratis"
							target="_blank">
							<Image
								src={localLogoFotos}
								alt="Letras F y G en mayúsculas con degradado"
							/>
						</a>
					</div>

					<div>
						<a
							href="https://www.minilink.edgarcornejo.com"
							title="Minilink Soluciones"
							target="_blank">
							<Image
								src={localLogoMinilink}
								alt="M en mayúscula de color negro"
								class="desaturar"
							/>
						</a>
					</div>

					<div>
						<a
							href="https://www.navedepapel.edgarcornejo.com"
							title="Nave de Papel"
							target="_blank">
							<Image
								src={localLogoNave}
								alt="heptágono anaranjado con icono de nave"
							/>
						</a>
					</div>

					<div>
						<a
							href="https://renovadesign.blogspot.pe"
							title="Renova Design"
							target="_blank">
							<Image
								src={localLogoRenova}
								alt="texto negro sin fondo"
								class="desaturar"
							/>
						</a>
					</div>
				</div>
			</article>
		</section>

		<section>
			<article>
				<header>
					<h2>Publicaciones</h2>
				</header>

				<div class="parrafo">
					<p>
						Me gusta compartir lo que conozco, si tienes alguna duda
						posiblemente tengo algunas recomendaciones que hago en estas
						publicaciones.
					</p>
				</div>

				<h3>Últimas publicaciones</h3>

				<ListPosts />
			</article>
		</section>

		<section>
			<article>
				<header>
					<h2>Contacto</h2>
				</header>

				<div class="parrafo">
					<p>
						Actualmente me encuentro en Arequipa - Perú. Consultas o
						presupuestos, envía un correo a info@edgarcornejo.com
					</p>
				</div>

				<h3>Enlaces</h3>
				<InfoContact />

				<h3>Redes Sociales</h3>
				<IconSocial />
			</article>
		</section>
	</main>
</Layout>
