---
import type { Hgroup } from "../types/types";

interface Props extends Hgroup {}

const { subtitle, urldesign, design, urlweb, web } = Astro.props;
---

<header>
  <hgroup>
    <h2 itemprop="name">{subtitle}</h2>
    <h1 itemprop="jobTitle">
      Soy
      <a href={urldesign} title={design}>{design}</a> y<br />
      <a href={urlweb} title={web}>{web}</a>
    </h1>
  </hgroup>
</header>

<style lang="stylus">
  header
    height auto
    padding-top 4rem
    width 100%
    margin 0 auto

  hgroup
    margin 0 auto
    width 100%
    max-width 1300px
    text-transform uppercase
    display flex
    flex-flow column wrap

  h2
    letter-spacing -1px
    position relative
    padding-top 10rem
    font-size 5rem
    animation titulo1 1s ease-in-out both
    line-height 4.2rem
  h1
    position relative
    font-size 1.5rem
    padding-bottom 8rem
    padding-top 1rem
    animation titulo2 1s ease-in-out both
    animation-delay 1s
    letter-spacing .3rem
    line-height 2rem
    font-weight 400
    a
      color rgb(8, 12, 63)
      &:hover
        color rgb(103, 61, 230)
    
  /* Responie Design */
  @media screen and (max-width:1366px)
    header
      padding-top 3rem

    hgroup
      max-width 1024px
      h2
        letter-spacing -2px
        padding-top 6rem
        font-size 3rem
        line-height 2.4rem
      h1
        font-size 1rem
        padding-bottom 4rem
        padding-top 1rem
        letter-spacing .1rem
        line-height 1.3rem

  @media screen and (max-width:1024px)
    hgroup
      width 90%
  
  @media screen and (max-width:768px)
    hgroup
      justify-content center
      h2
        padding-top 4rem
        text-align center
        line-height 2.8rem
      h1
        text-align center

</style>
