---
import { Image } from "astro:assets";

import localLogoEdgarWhite from "../images/edgarcornejo-white.svg";
import localMenuOpen from "../images/open-menu.svg";
import localMenuClosed from "../images/closed-menu.svg";

const { title, visible, blog, description } = Astro.props;
---

<div class="container-logo-menu">
	<div>
		<a href="/" title="Edgar Cornejo">
			<Image itemprop="logo" src={localLogoEdgarWhite} alt="Logo Edgar Cornejo, símbolo de una union de una cadena" />	
		</a>
	</div>

	<button popovertarget="main-menu" title="Abrir menu"><Image src={localMenuOpen} alt="" /></button>

	<nav popover id="main-menu">
		<menu>
			<li><a href="/" title="Inicio" class="nav-li">Inicio</a></li>
			<li>
				<a href="/presentacion/" title="Presentación" class="nav-li"
					>Presentación</a
				>
			</li>
			<li>
				<a href="/portafolio/" title="Portafolio" class="nav-li">Portafolio</a>
			</li>
			<li>
				<a href="/publicaciones/" title="Publicaciones" class="nav-li"
					>Publicaciones</a
				>
			</li>
			<li><a href="/contacto/" title="Contacto" class="nav-li">Contacto</a></li>
		</menu>
		<button popovertargetaction="hide" popovertarget="main-menu" title="Cerrar menu"><Image src={localMenuClosed} alt="" /></button>
	</nav>
</div>

<header id="main-header">
	<div class="wrapper-h1-h2">
	 {visible ? <h2 itemprop="name" class="title">{title}</h2>
	 <h1 itemprop="jobTitle" class="subtitle">
		 Soy
		 <a href="designer/" title="Diseñador Gráfico">Diseñador Gráfico</a> y
		 <a href="desarrollador-web/" title="Desarrollador Web front-end"
			 >Desarrollador Web front-end</a>
	 </h1> : <h1 class="title">{title} {blog && <h2 class="subtitle">{description}</h2>}</h1>}
 </div> 
</header>

<div id="bottom-call">
	<div>
		<p>
			<a
				href="https://wa.me/message/EEEHZULZQV5QG1"
				title="WhatsApp">WhatsApp</a>
		</p>
	</div>
</div>

<script is:inline>
	const navLinks = document.querySelectorAll(".nav-li");
	navLinks.forEach((link) => {
		if (link.getAttribute("href") === window.location.pathname) {
			link.setAttribute("class", "li-current");
		}
	});
</script>