---
import { formatDate } from "../js/utils";

const { post } = Astro.props;
---

<article>
	<a href={post.url} title={post.frontmatter.title}>
		<h3>{post.frontmatter.title}</h3>

		<figure>
			<img
				src={post.frontmatter.image.url}
				alt={post.frontmatter.image.alt}
				loading="lazy"
			/>
			<figcaption>
				Publicado el: <br />
				<time datetime={formatDate(post.frontmatter.date)}
					><strong>{formatDate(post.frontmatter.date)}</strong></time
				>
			</figcaption>
		</figure>

		<div>
			<p>
				{post.frontmatter.description.slice(0, 200)}...
			</p>
			<p>Categoría: <strong>{post.frontmatter.category}</strong></p>
		</div>
	</a>
</article>
