---
import { formatDate } from "../js/utils";
const { relatedPost } = Astro.props;
---

<h4>Publicaciones relacionadas</h4>
{
	relatedPost.map((post: any) => (
		<div id="related-post">
			<a href={post.url}>
				{post.frontmatter.title}
				<span>
					{post.frontmatter.author} •
					<time datetime={formatDate(post.frontmatter.date)}>
						{formatDate(post.frontmatter.date)}
					</time>
				</span>
			</a>
		</div>
	))
}