---
import { formatDate } from "../js/utils";
const { relatedPost } = Astro.props;
---

<h4>Publicaciones relacionadas</h4>
{
	relatedPost.map((post) => (
		<div>
			<a href={post.url}>
				{post.frontmatter.title}
				<span>
					{post.frontmatter.author} •
					<time datetime={formatDate(post.frontmatter.date)}>
						{formatDate(post.frontmatter.date)}
					</time>
				</span>
			</a>
		</div>
	))
}

<style lang="stylus">
	/* Contenedor de Publicaciones */
	div
		width 100%
		display flex
		flex-wrap wrap
		justify-content flex-start
		align-items center
		gap 1rem

	a
		display flex
		flex-flow column wrap
		gap 1rem
		background rgb(103, 61, 230)
		color #FFF
		text-transform uppercase
		padding 1.4rem
		border-radius 6px
		transition all .1s ease-in-out
		font 500 1.8rem Ubuntu
		text-align center
		&:hover
			background rgb(8, 12, 63)

	span
		font 300 1.2rem Ubuntu
		opacity .7
	
	/* Responsive Design */
	@media screen and (max-width:2560px)
		a
			padding 1.2rem
			font 500 1.4rem Ubuntu

	@media screen and (max-width:1920px)
		a
			border-radius 4px
			padding .8rem
			font 500 1rem Ubuntu
</style>
