---
/* Importando estilos */
import "../styles/layout.css";

/* Importando componentes */
import Head from "../layouts/Head.astro";
import MainHeaderView from "../components/MainHeaderView.astro";
import FooterView from "../components/FooterView.astro";
import CookiesView from "../components/CookiesView.astro";

const {
	title = "Edgar Cornejo",
	description = "Mi nombre es Edgar Cornejo ofrezco los servicios de diseño gráfico, desarrollo web front-end y posicionamiento en Internet.",
	keywords = "diseño web, desarrollo de páginas web, diseñador gráfico, posicionamiento en Internet, frontend",
	author,
	url = "www.edgarcornejo.com",
	image = "https://www.edgarcornejo.com/img/edgarcornejo.svg",
	imagealt = "Logotipo Edgar Cornejo",
	type = "Website",
	visible,
	blog,
} = Astro.props;
---

<html lang="es">
	<Head
		{title}
		{description}
		{keywords}
		{author}
		{url}
		{image}
		{imagealt}
		{type}
	/>

	<body itemscope itemtype="http://data-vocabulary.org/Person">
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-WJ5Q3C8"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->

		<MainHeaderView {title} {visible} {blog} {description} />

		<div id="main-content">
			<slot />
		</div>

		<FooterView />

		<CookiesView />
	</body>
</html>
