---
/* Importando Layout */
import Layout from "./Layout.astro";

/* importando componentes */
import { formatDate, formatBlogPosts, slugify } from "../js/utils";
import AdsArea from "../components/AdsArea.astro";
import CategoryCloud from "../components/CategoryCloud.astro";
import ListPosts from "../components/ListPosts.astro";
import RelatedPost from "../components/RelatedPost.astro";

interface Props {
	title: string;
	description: string;
	keywords: string;
	author: string;
	image: string;
	imagealt: string;
	category: string;
	date: string;
	url: any;
	frontmatter: any;
	type: string;
}

const {
	frontmatter,
	title = frontmatter.title,
	description = frontmatter.description,
	keywords = frontmatter.tags,
	author = frontmatter.author,
	image = frontmatter.image.url,
	imagealt = frontmatter.image.alt,
	category = frontmatter.category,
	date = frontmatter.date,
	url = window.location,
	type = "article",
} = Astro.props;

/* Related Post */
const allPosts = await Astro.glob("../pages/publicaciones/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
	sortByDate: false,
});

const relatedPost = formattedPosts
	.filter(
		(post: any) =>
			post.frontmatter.category === category && post.frontmatter.title !== title
	)
	.slice(0, 1);
---

<Layout
	{title}
	{description}
	{keywords}
	{author}
	{url}
	{image}
	{imagealt}
	{type}>
	<main>
		<section class="wrapper-content">
			<article id="wrapper-post">
				<AdsArea />
				<slot />
			</article>

			<aside class="aside-blog">
				<h4>Información de la publicación</h4>
				<div class="info-post">
					<p>
						<strong>Autor:</strong>
						<a href={`/author/${slugify(author)}/`} title={author}>{author}</a>
					</p>
					<p>
						<strong>Categoría:</strong>
						<a href={`/category/${slugify(category)}/`} title={category}
							>{category}</a
						>
					</p>
					<p>
						<strong>Fecha de publicación:</strong>
						<time datetime={date}>{formatDate(date)}</time>
					</p>
					<p>
						<strong>Etiquetas:</strong>
						{keywords.map((tag: any) => <span>{tag}, </span>)}
					</p>
				</div>

				<RelatedPost {relatedPost} />

				<h4>Categorías</h4>
				<CategoryCloud />

				<h4>Publicaciones</h4>
				<ListPosts />
			</aside>
		</section>
		<AdsArea />
	</main>
</Layout>
