---
/* Importando estilos */
import "../styles/layout.css";

/* Importando componentes */
import Head from "../layouts/Head.astro";
import MainMenuView from "../components/MainMenuView.astro";
import MainTitlesView from "../components/MainTitlesView.astro";
import FooterView from "../components/FooterView.astro";
import CallView from "../components/CallView.astro";

const {
	title = "Edgar Cornejo",
	description = "Mi nombre es Edgar Cornejo ofrezco los servicios de diseño gráfico, desarrollo web front-end y posicionamiento en Internet.",
	keywords = "diseño web, desarrollo de páginas web, diseñador gráfico, maquetador web, elaboración de páginas web, desarrollo web profesional",
	author,
	url = "www.edgarcornejo.com",
	image = "https://www.edgarcornejo.com/img/edgarcornejo.svg",
	imagealt = "Logotipo Edgar Cornejo",
	type = "Website",
	visible,
	blog,
} = Astro.props;
---

<html lang="es">
	<Head
		{title}
		{description}
		{keywords}
		{author}
		{url}
		{image}
		{imagealt}
		{type}
	/>

	<body itemscope itemtype="http://data-vocabulary.org/Person">
		<MainMenuView />

		<MainTitlesView {title} {visible} {blog} {description} />

		<CallView />

		<div id="main-content">
			<slot />
		</div>

		<FooterView />
	</body>
</html>
